ul {
	list-style-type: none;
}
a {
	text-decoration: none;
}

.nav {
	top:0;
	position: fixed;
	margin-top: 0;
	padding-left: 0;
	width: 100%;
	height: 75px;
	font-size: 30px;
	background-color: #d3d3d3;	
	margin-bottom:0;
}

.main {
	margin-top: 100px;
}

.nav-item {
	height: 100%;
	width: 33%;
	float: left;
	text-align: center;
	transition: background-color 0.5s, ease;
	outline: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
	a {
		color:black;
	}
}

.nav-item:hover {
	background-color: rgba(#0000FF,.6)
}

@import 'search.scss';
@import 'futureEventsShowStyle.scss';